html
{
    background-color: grey;
}

h1
{
    color: black;
    text-align: center
 }

form {
  position: relative;
  width  : 740px;
  height : 498px;
}

table {
border: medium solid #6495ed;
border-collapse: collapse;
}

th {
width: auto;
border: solid 0.3em;
border-color: white;
padding: 5px;
background-color: #ffffff;
}

td {
border: solid 0.3em;
border-color: white;
padding: 5px;
background-color: #ffffff;
}


.logo
{
    background-size: cover;
    margin: 3px;
    padding: 50px;
    width: 170px;
    height: 100px;
}

.InfoP
{
text-align: center;
}

.button
{
	position : center;
}

.Login
{
    font-family:luminari, fantasy ;
    text-align: center;
    border: 8px solid black;
    margin: 2%;
    padding: 40px;
}
